body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 95vh;
    width: 100wh;
    text-align: center;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#cronometro {
    position: relative;
    font-size: 10vw;
    color: #00fff7;
    text-shadow: 10px 10px 10px blue;
}

.container-crono{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 100px;
}


button{
   background-color: rgb(255, 255, 255);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 3%;
   text-transform: uppercase;
   clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
   font-weight: 800;
}



button:active{
    background-color: rgb(192, 190, 190);

 }

