body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 95vh;
    width: 100wh;
    text-align: center;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#cronometro {
    position: relative;
    font-size: 10vw;
}

.container-crono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}


button{
   background-color: rgb(255, 255, 255);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 5%;
   text-transform: uppercase;
}



button:active{
    background-color: rgb(192, 190, 190);

 }

